.u-block-4db5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4db5-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -53px);
  width: 65px;
  height: 65px;
  top: 507px;
  right: auto;
}

.u-block-4db5-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 501px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-4db5-3 {
    left: calc(((100% - 940px) / 2)  + -43px);
  }
}

@media (max-width: 991px) {
  .u-block-4db5-3 {
    left: calc(((100% - 720px) / 2)  + -33px);
  }
}

@media (max-width: 767px) {
  .u-block-4db5-3 {
    left: calc(((100% - 540px) / 2)  + -25px);
  }
}

@media (max-width: 575px) {
  .u-block-4db5-3 {
    left: calc(((100% - 340px) / 2)  + -16px);
  }
}

 .u-section-1-1 {
  background-image: url("images/bg-main.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-1-1 .u-text-1 {
  font-family: Graphik-Regular;
  font-weight: 700;
  font-size: 3rem;
  margin: 336px 666px 0 60px;
}

.u-section-1-1 .u-text-2 {
  font-family: Graphik-Regular;
  font-weight: 700;
  margin: 36px 396px 0 60px;
}

.u-section-1-1 .u-group-1 {
  width: 486px;
  --radius: 50px;
  height: auto;
  min-height: 65px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 43px auto 60px 47px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-1-1 .u-text-3 {
  width: 247px;
  font-weight: 700;
  font-family: Graphik-Regular;
  margin: 0 auto -17px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 179px;
    margin-right: 435px;
    margin-left: 91px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-1-1 .u-group-1 {
    width: 505px;
    min-height: 67px;
    margin-top: 40px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 120px;
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 52px;
    margin-right: 407px;
  }

  .u-section-1-1 .u-group-1 {
    width: 372px;
    min-height: 78px;
    margin-top: 28px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 22px;
    margin-right: 227px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 10px;
    margin-left: -29px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    background-position: 60.75% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 112px;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 47px;
    margin-right: 27px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 69px;
    width: 293px;
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-3 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }
}

.u-section-1-1 .u-group-1,
.u-section-1-1 .u-group-1:before,
.u-section-1-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 1045px;
}

.u-section-2 .u-line-1 {
  width: calc(((100% - 1140px) / 2)  + 503px);
  transform-origin: left center;
  position: absolute;
  top: 213px;
  left: 637px;
  right: 50px;
}

.u-section-2 .u-image-1 {
  --radius: 20px;
  height: auto;
  min-height: 296px;
  background-image: url("images/fundoservioss.png");
  background-position: 50% 98.84%;
  width: 1140px;
  margin: -113px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 296px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-2 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 1px 140px 0 112px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  margin: 13px 164px 0 112px;
}

.u-section-2 .u-text-2 {
  font-family: Graphik-Regular;
  margin: 11px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-2 .u-icon-2 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 1px 140px 0 112px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  margin: 13px 164px 0 112px;
}

.u-section-2 .u-text-4 {
  font-family: Graphik-Regular;
  margin: 11px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-2 .u-icon-3 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 1px 140px 0 112px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  margin: 13px 164px 0 112px;
}

.u-section-2 .u-text-6 {
  font-family: Graphik-Regular;
  margin: 11px 0 0;
}

.u-section-2 .u-image-2 {
  width: 33px;
  height: 33px;
  margin: 13px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 35px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 609px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 707px;
  height: 670px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -10px -95px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 660px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-text-7 {
  font-family: Graphik-Regular;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 42px auto 0 255px;
}

.u-section-2 .u-text-8 {
  font-family: Graphik-Regular;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 66px 31px 0;
}

.u-section-2 .u-line-2 {
  width: 1146px;
  transform-origin: left center;
  margin: 22px auto 34px calc(((100% - 1140px) / 2)  + -6px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 996px;
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 940px) / 2)  + 404px);
    left: 536px;
    right: 0;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    margin-top: -141px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 256px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 105px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 85px;
    margin-left: 105px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: -6px;
    margin-left: 7px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 105px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 85px;
    margin-left: 105px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: -6px;
    margin-left: 7px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 15px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 105px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 85px;
    margin-left: 105px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: -6px;
    margin-left: 7px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 41px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-2 .u-image-3 {
    width: 470px;
    height: 445px;
    margin-top: 80px;
    margin-left: -39px;
    margin-right: -39px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 201px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
    margin-top: 30px;
    margin-bottom: 43px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1264px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: right center;
    width: calc(((100% - 720px) / 2)  + 404px);
    left: 316px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    margin-top: -73px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 455px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 820px;
    margin-top: 0;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + -87px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-2 .u-image-3 {
    width: 422px;
    height: 509px;
    margin-top: 77px;
    margin-right: auto;
    margin-left: -16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 44px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -43px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1800px;
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 540px) / 2)  + 404px);
    left: 136px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 18px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 18px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -214px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 713px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 451px;
    margin-top: 191px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 14px 30px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 13px;
    margin-bottom: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2076px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center;
    width: calc(((100% - 340px) / 2)  + 290px);
    left: 50px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    margin-top: -98px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    min-height: 653px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 23px;
    margin-bottom: -10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 23px;
    margin-bottom: -10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 23px;
    margin-bottom: -10px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 498px;
    width: 364px;
    margin-top: -32px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 728px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 0 0 0 9px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
    margin-top: -21px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 44px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 22px;
    margin-bottom: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-text-1 {
  font-family: Graphik-Regular;
  font-weight: 700;
  font-size: 2.25rem;
  width: 441px;
  margin: 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 1003px;
  --radius: 30px;
  height: 594px;
  background-image: none;
  margin: 43px -16px 0 auto;
}

.u-section-3 .u-image-1 {
  --radius: 10px;
  width: 425px;
  height: 247px;
  margin: -555px auto 0 0;
}

.u-section-3 .u-image-2 {
  --radius: 10px;
  width: 425px;
  height: 247px;
  margin: 24px auto 0 0;
}

.u-section-3 .u-image-3 {
  --radius: 10px;
  width: 371px;
  height: 247px;
  margin: -384px auto 0 289px;
}

.u-section-3 .u-text-2 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: -381px 0 0 425px;
}

.u-section-3 .u-image-4 {
  width: 30px;
  height: 30px;
  margin: 45px 407px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 30px;
  height: 30px;
  margin: 12px 406px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 30px;
  height: 30px;
  margin: 44px 406px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 30px;
  height: 30px;
  margin: 45px 406px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 30px;
  height: 30px;
  margin: 29px 406px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 30px;
  height: 30px;
  margin: 10px 406px 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: -322px 103px 0 740px;
}

.u-section-3 .u-text-4 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: 12px 159px 0 740px;
}

.u-section-3 .u-text-5 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: 8px 123px 0 740px;
}

.u-section-3 .u-text-6 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: 0 123px 0 740px;
}

.u-section-3 .u-text-7 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: 8px 123px 0 740px;
}

.u-section-3 .u-text-8 {
  font-family: Graphik-Regular;
  font-size: 1.25rem;
  margin: 8px 213px 60px 740px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 342px;
    height: 213px;
    margin-top: -537px;
  }

  .u-section-3 .u-image-2 {
    width: 342px;
    height: 200px;
    margin-top: 26px;
  }

  .u-section-3 .u-image-3 {
    width: 299px;
    height: 199px;
    margin-top: -300px;
    margin-left: 160px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -347px;
    margin-right: 12px;
    margin-left: 351px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 22px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 100px;
    margin-left: 543px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: 156px;
    margin-left: 543px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: 120px;
    margin-left: 543px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 120px;
    margin-left: 543px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 120px;
    margin-left: 543px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 210px;
    margin-left: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-3 .u-shape-1 {
    height: 823px;
    width: 730px;
    margin-top: 13px;
    margin-right: -10px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 209px;
    margin-top: -666px;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 209px;
    margin-top: 8px;
  }

  .u-section-3 .u-image-3 {
    width: 372px;
    height: 230px;
    margin-top: -406px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -387px;
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 297px;
    margin-right: 287px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 14px;
    margin-right: 287px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 43px;
    margin-right: 287px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 57px;
    margin-right: auto;
    margin-left: 179px;
  }

  .u-section-3 .u-image-8 {
    margin-top: 33px;
    margin-right: auto;
    margin-left: 179px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 179px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -353px;
    margin-right: -20px;
    margin-left: 443px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
    margin-right: 36px;
    margin-left: 443px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 443px;
  }

  .u-section-3 .u-text-6 {
    width: 277px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: 277px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 17px;
    margin-right: 312px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-shape-1 {
    height: 780px;
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 318px;
    height: 176px;
    margin-top: -598px;
  }

  .u-section-3 .u-image-2 {
    width: 318px;
    height: 177px;
    margin-top: 15px;
    margin-left: 79px;
  }

  .u-section-3 .u-image-3 {
    width: 332px;
    height: 204px;
    margin-top: -352px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -379px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 385px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-image-8 {
    margin-top: 4px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -193px;
    margin-right: 259px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -1px;
    margin-right: 78px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-right: 29px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 115px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 4px;
    margin-right: 213px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-8 {
    margin: -5px 192px 51px 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 10px;
    margin-right: 12px;
    margin-left: -12px;
  }

  .u-section-3 .u-shape-1 {
    height: 1044px;
    width: 368px;
    margin-top: 34px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-1 {
    height: 139px;
    width: 301px;
    margin-top: -743px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 167px;
    width: 302px;
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    height: 161px;
    width: 301px;
    margin-top: -263px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -513px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 425px;
    margin-left: 11px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 13px;
    margin-left: 11px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 34px;
    margin-left: 11px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 34px;
    margin-left: 11px;
  }

  .u-section-3 .u-image-8 {
    margin-top: 42px;
    margin-left: 11px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 10px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-3 {
    width: 238px;
    margin-top: -315px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 238px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 20px;
    margin-left: 51px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
    margin-left: 51px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 8px;
    margin-right: 12px;
    margin-left: 51px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 10px;
    margin-right: 102px;
    margin-left: 51px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 791px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  width: 565px;
  margin: 52px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 1131px;
  margin: 76px 0 42px auto;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  padding: 25px 30px;
}

.u-section-4 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  padding: 25px 30px;
}

.u-section-4 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-text-6 {
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Graphik-Regular;
  padding: 25px 30px;
}

.u-section-4 .u-icon-6 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 154px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-line-1 {
  width: 1146px;
  transform-origin: left center;
  position: absolute;
  top: 9px;
  left: auto;
  right: -6px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
    margin-top: 75px;
  }

  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-6 {
    height: auto;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 41px;
    text-transform: none;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 30px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 57px;
    margin-bottom: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-1 {
    width: auto;
  }
}@font-face {
  font-family: 'Graphik-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Graphik-Regular.ttf);
}